{% extends "base.html" %}

{% block content %}
<br>
<div class="container">
    <div class="row" style="">
        <div class="col-md-3">
            <h2><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="rgb(17, 159, 247)" class="bi bi-twitter" viewBox="0 0 16 16">
                <!-- <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/> -->
              </svg>ReadyPost</h2>
            <div class="card" style="border: 1px solid rgb(0, 0, 0);background-color: #2d3741; border-radius: 10px;">
                <div class="container">
                    <h4 style="text-align:center;">Profile</h4>
                    {% if obj.profileImage %}
                    <img class="rounded-circle mr-2" style="width: 100px; height: 100px;" src="{{obj.profileImage.url}}">
                    {% endif %}
                    <h5 style="color: white;">@{{username}}</h5>
                    <p>{{obj.firstName}} {{obj.lastName}}</p>
                    <hr>
                    <p class="" style="float: left;width: 50%;">Followers : {{followersCount}}</p>
                    <p class="" style="float: right;width: 50%;">Following : {{followingCount}}</p>
                    <p>{{bio}}</p>
                </div>
                <a href="{% url 'postcreate' %}" class="btn btn-lg btn-primary" style="border-radius: 25px;background-color:rgb(17, 159, 247);">POST</a>
                <br>
            </div>
        </div>
        <div class="col-md-6" style="">
            <h2>Posts</h2>
            {% if not posts %}
                <h5>No Postst yet</h5>
            {% else %}
                {% for x in posts %}
                    {% for post, img in x.items %}
                        <div class="card" style="border: 1px solid rgb(0, 0, 0);background-color: #2d3741; border-radius: 10px;">
                            <div class="container post">
                                <h1>{{profile}}</h1>
                                {% if img.profileImage %}
                                    <img class="rounded-circle mr-2" style="width: 20px; height: 20px;" src="{{img.profileImage.url}}">
                                {% else %}
                                    <img class="rounded-circle mr-2" style="width: 20px; height: 20px;" src="https://raw.githubusercontent.com/Devesh475/testRepo/main/usericon.png">    
                                {% endif %}   
                                    <a class="mr-2 white-important" href="{% url 'detailuser' post.user.pk %}">@{{ post.user }}</a> 
                                    <a class="btn btn-primary btn-sm" style="float: right;border-radius: 15px;" href="/{{post.post_url}}">View</a>
                                <hr>
                                {% if post.parent %}
                                <div class="container post" style="border: 1px solid;border: 1px solid rgb(255, 255, 255);background-color: #2d3741; border-radius: 10px;); border-radius: 10px;">
                                    {% if img.profileImage %}
                                        <img class="rounded-circle mr-2" style="width: 20px; height: 20px;" src="{{img.profileImage.url}}">
                                    {% else %}
                                        <img class="rounded-circle mr-2" style="width: 20px; height: 20px;" src="https://raw.githubusercontent.com/Devesh475/testRepo/main/usericon.png">    
                                    {% endif %}   
                                    <a class="mr-2 white-important" href="{% url 'detailuser' post.parent.user.pk %}">Retweet : @{{ post.parent.user }}</a>
                                    <a style="color: white;color: (internal value);text-decoration: unset;" href="/{{post.post_url}}"><p>{{post.parent.captions | linebreaks | truncatewords:45}}</p></a>
                                    <div class="container" style="text-align: center;">
                                        {% if post.parent.image %}
                                            <img class="card-img-top" style="width: 100px;height: 100px;" src="{{post.parent.image.url}}">
                                            <hr>
                                        {% endif %}
                                    </div>
                                    <small style="color: rgb(225, 232, 237);">🤍 {{post.parent.total_likes}} Likes</small>
                                    <small style="color: rgb(225, 232, 237);">| 💬 {{post.parent.total_comments}} comments</small>
                                    <small style="color: rgb(225, 232, 237);">| 🕐 {{post.parent.dateTime}} comments</small>
                                </div>
                                <br>
                                {% else %}
                                    <a  style="color: rgb(199, 194, 194);color: (internal value);text-decoration: unset;" href="/{{post.post_url}}"><p>{{post.captions | linebreaks | truncatewords:45}}</p></a>
                                    <div class="container" style="text-align: center;">
                                    {% if post.image %}
                                        <img class="card-img-top" style="width: 100px;height: 100px;" src="{{post.image.url}}">
                                        <br>
                                        <hr>
                                    {% endif %}
                                    </div>
                                {% endif %}
                                <small style="color: rgb(225, 232, 237);">🤍 {{post.total_likes}} Likes</small>
                                <small style="color: rgb(225, 232, 237);">| 💬 {{post.total_comments}} comments</small>
                                <small style="color: rgb(225, 232, 237);">| 🕐 {{post.dateTime}}</small>
                            </div>
                        </div>
                        <br>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% if posts.has_previous %}
                <a href="{% url 'postlist' %}?page={{posts.previous_page_number}}" class="btn btn-outline-secondary btn-sm" style="">Previous Page</a>
            {% endif %}
            {% if posts.has_next %}
                <a href="{% url 'postlist' %}?page={{posts.next_page_number}}" class="btn btn-outline-secondary btn-sm" style="">Next Page</a>
            {% endif %}
            <br>
            <br>
        </div>
        <div class="col-md-3">
            <br>
            <form class="d-flex" action="/search/">
                <input class="form-control me-2" name="q" type="search" placeholder="Search Socialize" aria-label="Search" style="border-radius: 20px;background-color: #2d3741">
                <button class="btn btn-primary" style="border-radius: 15px;background-color: rgb(17, 159, 247);" type="submit">🔍</button>
            </form>
            <h2 style="">Trends</h2>
            <div class="card" style="border: 1px solid rgb(0, 0, 0);background-color: #2d3741; border-radius: 10px;">
                <div class="container">
                    <br>
                    <h5>What is up</h5>
                    {% for x in whats %}
                        <div class="card" style="background-color: #2d3741;border: None;">
                            <a style="color: rgb(199, 194, 194);color: (internal value);text-decoration: unset;" href="/detail/{{x.id}}"><p>{{x.captions | linebreaks | truncatewords:10}}</p></a>                            
                        </div>                    
                    {% endfor %}
                </div>
                <br>
            </div>
            <hr>
            <div class="card" style="border: 1px solid rgb(0, 0, 0);background-color: #2d3741; border-radius: 10px;">
                <div class="container">
                    <br>
                    <h5>Who To Follow</h5>
                    {% for y in whotofollow %}
                        {% for x, img in y.items %}
                            <hr>
                            {% if img.profileImage %}
                                <img class="rounded-circle mr-2" style="width: 20px; height: 20px;" src="{{img.profileImage.url}}">
                            {% else %}
                                <img class="rounded-circle mr-2" style="width: 20px; height: 20px;" src="https://raw.githubusercontent.com/Devesh475/testRepo/main/usericon.png">
                            {% endif %}
                            <a class="mr-2 white-important" href="{% url 'detailuser' x.pk %}">{{x}}</a>
                        {% endfor %}    
                    {% endfor %}
                </div>
                <br>
            </div>
            <p><a href=""></a>,
                <a href=""></a>,
                <a href=""></a>,
                <a href=""></a>,
                <a href=""></a></p>
        </div>
    </div>
</div>
{% endblock %}