{% extends "base.html" %}

{% block content %}

<br>
<div class="col-lg-8">
<h3>Reset Password!</h3>
<div class="card" style="border: 1px solid rgb(0, 0, 0);background-color: #2d3741; border-radius: 10px;">
    <br>
    <div class="container">
        <form action="{% url 'passwordreset' %}" method="POST" enctype="multipart/form-data">
            <label for="email">Enter registered email : </label>
            <input type="email" name="q" class="form-control" required>
            <label for="phone">Enter last 4 digits of your mobile number : </label>
            <input type="text" name="p" class="form-control" required>
            <br>
            <button class="btn btn-warning">Submit</button>
        </form>
    </div>
</div>
</div>
{% endblock %}