{% extends "base.html" %}

{% block content %}

<div class="row">
<br>
<div class="col-lg-8">
<h2>SignIn User! </h2>
<div class="card" style="border: 1px solid rgb(0, 0, 0);background-color: #2d3741; border-radius: 10px;">
    <div class="container">
    {% if messages %}
        {% for message in messages %}
            <p>&emsp; {{message}}</p>
        {% endfor %}
    {% endif %}
    {% if err %}
        <p>&emsp;  {{err}}</p>
    {% endif %}
    </div>
    <div class="container">
        <br>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input class = "form-control" type="text" name="username" required> 
            <br>
            <label for="password">Password:</label>
            <input class="form-control" type="password" name="password" required>
            <br>
            <button type="submit" class="btn btn-primary" name="signup" style="border-radius: 20px;">Login</button>
        </form>
    </div>
    <div class="container">
        <p>Don't have an account? <a href="{% url 'createuser' %}">SignUp</a> </p>
    </div>
</div>
</div>
<div class="col-lg-4">
    <h2>Start Socializing</h2>
    <div class="card" style="border: 1px solid rgb(0, 0, 0);background-color: #2d3741; border-radius: 10px;">
        <div class="container" style="padding: 10px;">
            {% load static %}
            <img src="{% static 'images/b.jpg' %}" alt="" style="height: inherit; width: inherit;">
        </div>
    </div>
</div>
</div>
{% endblock %}