{% extends "base.html" %}

{% block content %}

<br>
<div class="col-lg-8">
<h3>Update Password!</h3>
<div class="card" style="border: 1px solid rgb(0, 0, 0);background-color: #2d3741; border-radius: 10px;">
    <br>
    <div class="container">
        {% if 'warning' in request.session %}
            <p>{{request.session.warning}}</p>
        {% endif %}
        <form action="{% url 'passwordupdate' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="password">Current Password : </label>
            <input type="password" name="password" class="form-control">
            <label for="password1">New Password : </label>
            <input type="password" name="password1" class="form-control">
            <label for="password2">New Password Again : </label>
            <input type="password" name="password2" class="form-control">
            <br>
            <button class="btn btn-warning">Update Password</button>
        </form>
    </div>
</div>
</div>
{% endblock %}