{% extends "base.html" %}

{% block content %}

<br>
<div class="card" style="border: 1px solid rgb(0, 0, 0);background-color: #2d3741; border-radius: 10px;">
    <div class="container">
        {% if found %}
            <h3>Found Matching Usernames</h3>
            <hr>
            {% if img.profileImage %}
                <img class="rounded-circle mr-2" style="width: 20px; height: 20px;" src="{{img.profileImage.url}}">
            {% else %}
                <img class="rounded-circle mr-2" style="width: 20px; height: 20px;" src="https://raw.githubusercontent.com/Devesh475/testRepo/main/usericon.png">
            {% endif %}
                <a class="mr-2 white-important" href="{% url 'detailuser' obj.user.id %}">{{obj.user}}</a>
            <small> | {{obj.firstName}} {{obj.lastName}}</small>
        {% else %}
            <h3>No Such User Exists</h3>
        {% endif %}
    </div>
    <br>
</div>

{% endblock %}